.header-top{
    padding: 18px;
    color: white;
    background: black;
    display: flex;
    justify-content: space-between;
}
.header-top i{
    color: orange;
}
.header-bottom{
    background: #d1e3ff;
    justify-content: center;
}
.header-bottomtop{
    display: flex;
    justify-content: space-between;
}
.header-bottomtop p{
    text-decoration: none;
    color: #0355cc;
    text-transform: uppercase;
    font: 24px 'Lato', sans-serif;
    font-weight: bold;
    padding: 19px;
}

menu li{
    padding: 20px 29px;
}
menu li a{
    color: #000;
    text-decoration: none;
    font: 16px 'Lato', sans-serif;
}
    .header-bottom2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .head1 {
        width: 100%;
        text-align: center;
        max-width: none; /* 50% limitini ləğv edir */
        padding: 0 10px;
    }

    .head1 h1 {
        max-width: 100%;
        font-size: 28px; /* mobil üçün başlıq ölçüsü */
    }

    .head2 {
        width: 100%;
    }

    .head2 img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }




.head2 img{
    object-fit: cover;
}
.head1 h1{
    color: #0355cc;
    font: 40px 'Merriweather Sans', sans-serif;
    font-weight: bold;
    max-width: 50%;
}
.head1 p{
    padding: 20px 0 15px 0;
}
.head1{
    padding: 0 20px;
}
.head1 button{
    width: 190px;
    height: 40px;
    background: #ff8a1d;
    border-color: #ff8a1d;
    border: none;
    border-radius: 5px;
    font: 1em 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
}
.main1{
    padding: 70px 0;
}
.card1{
    text-align: center;
    padding: 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 20px;
}
.card1 i{
    font-size: 50px;
}
.card1 p{
    font-size: 1.4em;
    font-weight: bold;
}
.card1:hover{
    background-color: orange;
    color: white;
    transition: 0.7s;
}
.main2{
    /* gap: 20px; */
    padding-bottom: 50px;
}

.about{
    width: 100%;
    padding-bottom: 10px;
}
.about h2{
    font: 32px 'Merriweather Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.about p{
    font: 20px 'Lato', sans-serif;
}
.about button{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    margin-left: 0;
    height: 40px;
    background: #0355cc;
    border-color: #0355cc;
    border: none;
    border-radius: 2px;
    margin-top: 15px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
}


.services h2{
    color: #0355cc;
    font: 40px 'Merriweather Sans', sans-serif;
    font-weight: bold;
    max-width: 50%;
}
.services p{
    max-width: 450px;
    margin: 20px 0 16px;
    font: 15px 'Lato', sans-serif;
}
.services a{
    width: 190px;
    background: #ff8a1d;
    border-color: #ff8a1d;
    border: none;
    border-radius: 5px;
    font: 1em 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding: 13px;
}
.header-bottomtop nav menu {
    display: none;
}
.mobil-top{
    font-size: 3em;
}
.main3{
    background-color: #d1e3ff;
    background-size: auto;
}
.services1 {
    flex-wrap: nowrap;
}
.services1 img {
    max-height: 100vh;
}
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main4{
    text-align: center;
}
.main4 h2{
    padding-top: 90px;
    padding-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
}
.main4-flex{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box img{
    width: 50px;
    padding-bottom: 15px;
}
.box{
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 15px 0;
}
.box h3{
    font-size: 20px;
    margin-bottom: 15px;
}
.header-bottomtop menu li{display: none;}

.about-img img{
    width: 100%;
}
.services1 img{
    width: 100%;
}
.header-bottomtop i{
    padding-right: 50px;
    padding-top: 20px;
    font-size: 2em;
}
.head1{justify-content: center;
    align-items: center;
flex-direction: column;}


@media only screen and (min-width: 768px) {
    .about-img img{
    width: auto;
}
.box{
    width: 30%;}
.services1 img{
    width: auto;
}
.services1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    }
    .services{
        width: 50%;
    }
    .main3{
        background-size: cover;
    }
    .mobil-top{
        display: none   ;
    }
    .header-bottomtop nav menu{
        display: flex;
        justify-content: center;
}
.head1{
    width: 50%;
}
.header-bottom2{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.head2 img{
    overflow: hidden;
}
    .main1{
        display: flex;
        justify-content: center;
    }
    .about{
        max-width: 30%;
    }
    .main2{
        margin: 0 auto;       
        display: flex;
        align-items: center;    
        justify-content: center; 
        flex-direction: row;
        flex-wrap: wrap;
    }
    .main4-flex{
        flex-direction: row;
    }
    .header-bottomtop i{
        display: none;
    }
    .header-bottomtop menu li{
        display: flex;
    }
}