 .header-top{
    padding: 18px;
    color: white;
    background: black;
    display: flex;
    justify-content: space-between;
}
.header-top i{
    color: orange;
}
.header-bottom{
    background: #d1e3ff;
    justify-content: center;
}
.header-bottomtop{
    display: flex;
    justify-content: space-between;
}
.header-bottomtop p{
    text-decoration: none;
    color: #0355cc;
    text-transform: uppercase;
    font: 24px 'Lato', sans-serif;
    font-weight: bold;
    padding: 19px;
}

menu li{
    padding: 20px 29px;
}
menu li a{
    color: #000;
    text-decoration: none;
    font: 16px 'Lato', sans-serif;
}
    .header-bottom2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .head1 {
        width: 100%;
        max-width: none; 
        padding: 0 10px;
    }

    .head1 h1 {
        max-width: 100%;
        font-size: 0.7em; 
        object-fit: cover;
    }

    .head2 {
        width: 100%;
    }

    .head2 img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }




.head2 img{
    object-fit: cover;
}
.head1 h1{
    color: #0355cc;
    font: 40px 'Merriweather Sans', sans-serif;
    font-weight: bold;
}
.head1 p{
    padding: 20px 0 15px 0;
}
.head1{
    padding: 0 20px;
}
.head1 button{
    width: 190px;
    height: 40px;
    background: #ff8a1d;
    border-color: #ff8a1d;
    border: none;
    border-radius: 5px;
    font: 1em 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
}
.main1{
    padding: 70px 0;
}
.card1{
    text-align: center;
    padding: 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 20px;
}
.card1 i{
    font-size: 50px;
}
.card1 p{
    font-size: 1.4em;
    font-weight: bold;
}
.card1:hover{
    background-color: orange;
    color: white;
    transition: 0.7s;
}
.main2{
    /* gap: 20px; */
    padding-bottom: 50px;
}

.about{
    width: 100%;
    padding-bottom: 10px;
}
.about h2{
    font: 32px 'Merriweather Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.about p{
    font: 20px 'Lato', sans-serif;
}
.about button{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    margin-left: 0;
    height: 40px;
    background: #0355cc;
    border-color: #0355cc;
    border: none;
    border-radius: 2px;
    margin-top: 15px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
}


.services h2{
    color: #0355cc;
    font: 2em 'Merriweather Sans', sans-serif;
    font-weight: bold;
}
.services p{
    max-width: 450px;
    margin: 20px 0 16px;
    font: 15px 'Lato', sans-serif;
}
.services a{
    width: 190px;
    background: #ff8a1d;
    border-color: #ff8a1d;
    border: none;
    border-radius: 5px;
    font: 1em 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding: 13px;
}
.header-bottomtop nav menu {
    display: none;
}
.mobil-top{
    font-size: 3em;
}
.main3{
    background-color: #d1e3ff;
    background-size: auto;
}
.services1 {
    flex-wrap: nowrap;
}
.services1 img {
    max-height: 100vh;
}
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main4{
    text-align: center;
}
.main4 h2{
    padding-top: 90px;
    padding-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
}
.main4-flex{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box img{
    width: 50px;
    padding-bottom: 15px;
}
.box{
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 15px 0;
    margin-bottom: 30px;
}
.box h3{
    font-size: 20px;
    margin-bottom: 15px;
}
.header-bottomtop menu li{display: none;}

.about-img img{
    width: 100%;
}
.services1 img{
    width: 100%;
}
.header-bottomtop i{
    padding-right: 50px;
    padding-top: 20px;
    font-size: 2em;
}
.head1{display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}
.main4 a{
    background-color: #0355cc;
    color: white;
    padding: 10px 25px;
    border-radius: 2px;
}

.col50 *{
    padding: 20px;
    border: none;
    background-color: #f5f5f5;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
}
.main5{
    margin: 0 auto;
    width: 80%;
}
.row textarea{
    height: 120px;
}
.col50 button{
    background-color: #0355cc;
    color: white;
    width: 30%;
    border-radius: 5px;
}
.main5 h2{
    font-size: 32px;
    font-weight: bold;
    padding: 10px 0;
}
.main5{
    padding-bottom: 100px;
}
.main4{
    padding-bottom: 100px;
}
.row button:hover{
    background-color: white;
    color: #0355cc;
    border: 1px solid #0355cc;
    transition: 0.8s;
}
footer{
    background: #0a0f43;
    color: white;
    text-align: center;
}
.kard i{
    background: #0355cc;
    color: white;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    margin-bottom: 10px;
}
hr{
    color: white;
}
.kard{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 11%;
}
.konum{

}
footer h2{
    padding: 70px 0;
    font-size: 1.5em;
    font-weight: bold;
}
#follow{
    padding: 18px 0;
}
.icons {
    padding-bottom: 100px;
}
#hr1{
    width: 100%;
    padding-bottom: 10px;
}
#p_son{
    padding-bottom: 18px;
}
.konum hr{
    width: 2px;
    height: 100px;
    background-color: white;
}
.konum{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kard p{
    width: 100%;
}
.icons{
        display: flex;
        justify-content: center;
    }
.icons i{
        font-size: 1.8em;
        margin: 0 10px;
    }
.col51{
        width: 100%;
    }
.col51 iframe{
    width: 100%;
}
.col50{
    width: 100%;
}
body{
    
}
@media only screen and (min-width: 768px) {
    .about-img img{
    width: auto;
}
.box{
    width: 30%;}
.services1 img{
    width: auto;
}
.services1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
    .services{
        width: 50%;
    }
    .main3{
        background-size: cover;
    }
    .mobil-top{
        display: none   ;
    }
    .header-bottomtop nav menu{
        display: flex;
        justify-content: center;
}
.head1{
    width: 50%;
}
.header-bottom2{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.head2 img{
    overflow: hidden;
}
    .main1{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .about{
        max-width: 30%;
    }
    .main2{
        margin: 0 auto;       
        display: flex;
        align-items: center;    
        justify-content: center; 
        flex-direction: row;
        flex-wrap: wrap;
    }
    .main4-flex{
        flex-direction: row;
    }
    .header-bottomtop i{
        display: none;
    }
    .header-bottomtop menu li{
        display: flex;
    }
    .head1{
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }
    .col50{
        width: 50%;
    }
    .col51{
        width: 50%;
    }
    .row{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .konum{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 0 20px;
    }
    .konum hr{
        width: 18%;
        height: 2px;
        background-color: white;
    }
    
    
    .icons i:hover{
        margin: 0 0;
        color: red;
        transition: 0.5s;
    }
}